---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Online Casino">
  <h1>Online Casino</h1>

  <p>I always loved casino games like poker, slots or roulette, so I had the idea to create one myself. I chose React because I liked the development experience in my previous projects, also we needed a framework suitable for the interactivity of the site.</p>

  <h2>Design</h2>
  <p>Firstly I built a simple mockup for the website in Figma. The design and colors are mainly based on the famous Diamond casino in GTA Online, although I wanted to give it a few changes and a new name.</p>

  <h2>Team</h2>
  <p>My main role was to create a design and frontend functionality for the site. Sometimes I helped my friend Levente in the backend functionality, since this was his first experience with web development.</p>

  <h2>The cookie system</h2>
  <p>Instead of adding a full user registration and login system, we chose to use a simple session based authentication with cookies. It provides a faster and easier user experience without any hassle.</p>

  <h2>Deploy</h2>
  <p>The frontend is hosted on Vercel, but we wanted to keep it simple on the backend so we used Render, since Vercel only provides serverless functions and it would require many changes in the project. For the database, we used AWS RDS. Since we added CORS in the beginning of the project, I did not have any trouble while deploying.</p>

  <h2>Conclusion</h2>
  <p>At first we thought this would be a pretty easy and fast project to finish, but this vision has disappeared quickly when we started implementing the cookie system. In my opinion, it was the hardest part of the development process. In overall, I loved every second of it, we keep polishing the current features and working on other games like slots and blackjack.</p>
</Layout>
