---
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Online Casino">
  <div class="page-wrapper">
    <div class="header-wrapper">
      <img class="navigate-back" onclick="javascript:history.back()" src="./icons/scrolldown.png" />
      <h1>Online Casino</h1>
      <p class="header-link" onclick="window.open('https://casino-s2oy.onrender.com/')">casino-s2oy.onrender.com/</p>
    </div>

    <div class="details-inline">
      <div>
        <h2 class="title">Technologies used:</h2>
        <div class="technologies-wrapper">
          <img src="./icons/react_icon.png" alt="React" title="React" />
          <img src="./icons/nodejs_icon.png" alt="NodeJS" title="NodeJS" />
          <img src="./icons/mysql_icon.png" alt="MySQL" title="MySQL" />
          <img src="./icons/ts_icon.png" alt="Typescript" title="Typescript" />
        </div>
      </div>

      <div class="github-link-wrapper">
        <h2 class="title">GitHub:</h2>
        <p class="github-link" onclick="window.open('https://github.com/bencebakos3d/crystal-casino')">github.com/bencebakos3d/crystal-casino</p>
      </div>
    </div>

    <div class="details-text">
      <h2 class="title">Design</h2>
      <p>
        I always loved casino games like poker, slots or roulette, so I had the idea to create a casino web application. <br /> I chose React because I liked the development experience in my previous projects, also I needed a framework suitable for the interactivity of the site. <br /> The first step was creating a simple mockup in Figma. The design and colors were inspired by the famous Diamond Casino
        in GTA Online, although I wanted to give it a few changes and a new name.
      </p>
    </div>

    <div class="details-text">
      <h2 class="title">Team</h2>
      <p>My main role was creating a design and frontend functionality for the site and helping my friend Levente in the backend development work, since this was his first experience with web development and Javascript / Typescript.</p>
    </div>

    <img src="./images/casino_roulette.webp" alt="Casino User Interface" class="casino-screenshot" />

    <div class="details-text">
      <h2 class="title">The cookie system</h2>
      <p>Instead of adding a full user registration and login system, we chose to use a simple session based authentication with cookies. It provides a faster and easier user experience without any hassle. There was just one issue: the default MemoryStore has a memory-leak issue, so we needed a new solution. Express-mysql-session was the ideal choice for us, which has been implemented.</p>
    </div>

    <div class="details-text">
      <h2 class="title">Deploy</h2>
      <p>
        When we started the project, we wanted to keep the frontend and backend separated, since it would provide a modular codebase with a cleaner development proccess. The frontend was hosted on Vercel, and we used Render for the backend. For the database, AWS RDS has been our choice. <br />Later on we found out this solution is not the best idea, since CORS decreases the website performance and
        adds more unnecessary complexity. For example, Safari blocks all third-party cookies and Storage Access API would have been needed just to enable the cookie setting.
      </p>
    </div>

    <div class="details-text">
      <h2 class="title">Conclusion</h2>
      <p>
        At first I thought this would be a pretty easy and fast project to finish, but this vision has disappeared quickly when we started implementing the cookie system. In my opinion our biggest mistake was the lack of in-depth planning when we started the work, which has increased the development time. <br /><br />In overall, we learned a lot from this project and I loved every second of it, we
        are polishing the features and experience even to this day.
      </p>
    </div>
  </div>
  <Footer />
</Layout>

<style>
  .page-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--global-secondary-background);
    padding-bottom: 5rem;
  }
  .navigate-back {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50px;
    object-fit: contain;
    object-position: center;
    transform: rotate(90deg) translateX(-50%);
    cursor: pointer;
    filter: brightness(100);
    transition: all ease-in-out 0.3s;
  }
  .navigate-back:hover {
    transform: rotate(90deg) translateX(-50%) scale(1.3);
    transition: all ease-in-out 0.3s;
  }
  .header-wrapper {
    width: 100%;
    background: linear-gradient(270deg, rgb(64, 15, 84) 0%, rgb(0, 0, 0) 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
    padding-top: 30px;
    justify-content: center;
    height: 200px;
    color: white;
  }
  .header-wrapper > h1 {
    margin: 0;
  }
  .header-link {
    cursor: pointer;
    font-size: 1.3rem;
  }
  .title {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .github-link {
    color: var(--global-primary-content);
    font-weight: 500;
    cursor: pointer;
    font-size: 1.3rem;
  }
  .details-inline {
    max-width: 1100px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .details-text {
    max-width: 1100px;
    width: 90%;
  }
  .casino-screenshot {
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 5rem;
  }
  .technologies-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .technologies-wrapper > img {
    width: 50px;
    height: 50px;
  }

  @media only screen and (max-width: 1366px) {
    .header-link {
      font-size: 1.1rem;
    }
    .github-link {
      font-size: 1.1rem;
    }

    .technologies-wrapper > img {
      width: 40px;
      height: 40px;
    }

    .navigate-back {
      width: 25px;
      height: 25px;
    }
    .details-inline {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      max-width: unset;
      width: 70%;
    }
    .details-text {
      max-width: unset;
      width: 70%;
    }
    .casino-screenshot {
      margin-top: 5rem;
      margin-bottom: 2.5rem;
    }
  }
  @media only screen and (max-width: 768px) {
    .details-inline {
      flex-direction: column;
      width: 100%;
      max-width: unset;
      box-sizing: border-box;
      padding-left: var(--global-side-padding);
      padding-right: var(--global-side-padding);
      gap: 2.5rem;
    }
    .details-text {
      width: 100%;
      max-width: unset;
      box-sizing: border-box;
      padding-left: var(--global-side-padding);
      padding-right: var(--global-side-padding);
    }
    .navigate-back {
      transform: rotate(90deg);
      top: 20px;
      left: 20px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .header-wrapper {
      gap: 20px;
      padding-top: 20px;
      height: 300px;
    }
    .header-wrapper > h1 {
      font-size: 30px;
    }
  }
</style>
