---
import Layout from '../layouts/Layout.astro';
import LandingVideo from '../components/LandingVideo.astro';
import Header from '../components/Header.astro';
import Contact from '../components/Contact.astro';
import Works from '../components/Works.astro';
import Footer from '../components/Footer.astro';
import About from '../components/About.astro';
---

<Layout title="Bence Bakos">
  <section class="section-loading-screen">
    <div class="loader-wrapper">
      <div class="loader">Loading...</div>
    </div>
    <div class="loader-text">Fasten your seatbelts...</div>
  </section>
  <main class="currently-loading">
    <!-- <div id="header" class="hidden floatup">
      <Header />
    </div> -->
    <section id="section-beginning">
      <LandingVideo />
    </section>

    <About />
    <section class="section-works" id="section-works">
      <Works />
    </section>
    <Contact />
    <Footer />
  </main>
</Layout>

<style>
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .currently-loading {
    height: 100vh;
    overflow: hidden;
  }
  .section-loading-screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 255;
    background-color: var(--global-primary-background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 1s ease-out;
  }

  @-webkit-keyframes exitLoading {
    0% {
      opacity: 1;
      display: initial;
    }
    99% {
      display: initial;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
  @keyframes exitLoading {
    0% {
      opacity: 1;
      display: initial;
    }
    99% {
      display: initial;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }

  .loader-wrapper {
    height: 200px;
  }
  .loader-text {
    color: #000000;
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
  }
  .loader,
  .loader:before,
  .loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 3em;
  }
  .loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    position: absolute;
    top: 0;
    content: '';
  }
  .loader:before {
    left: -1.7em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 1.7em;
  }
  @-webkit-keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 3em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 4em;
    }
  }
  @keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 3em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 4em;
    }
  }
  .hidden {
    animation: exitLoading 1s ease-out;
    animation-iteration-count: 1;
    opacity: 0;
    visibility: hidden;
  }
  .section-about,
  .section-contact {
    height: 100vh;
    box-sizing: border-box;
    padding: var(--global-side-padding);
  }
  .visible {
    opacity: 1;
    visibility: initial;
    transition: opacity 1s linear;
  }
  @media only screen and (max-width: 768px) {
    .loader-text {
      font-size: 1.6rem;
      text-align: center;
      line-height: 2.5rem;
    }
  }
</style>

<script is:inline>
  let images = [];
  for (let i = 1; i < 61; i++) {
    images[i] = new Image();
    images[i].src = `./engine_video/engine_${i}.png`;
    if (i === 60) {
    }
  }

  Promise.all(
    images.map((img) => {
      if (img.complete) return Promise.resolve(img.naturalHeight !== 0);
      return new Promise((resolve) => {
        img.addEventListener('load', () => resolve(true));
        img.addEventListener('error', () => resolve(false));
      });
    })
  ).then(() => {
    document.querySelector('main').classList.remove('currently-loading');
    document.querySelector('.section-loading-screen').classList.add('hidden');
  });
</script>
