<section>
  <h1>ABOUT</h1>
  <div class="left-col">
    <h2>Artist & Engineer</h2>
    <p>
      I started my carreer as a 3D Artist: creating cool visualizations of aircraft and trains. <br /> When I was working on the modeling of a web configurator, I quickly realized the importance of programming.
      <br /> I fell in love with full-stack development. My visualization background helps me a lot.
      <br />I'm currently working as a 3D Generalist at 3DigitStudio.
    </p>
  </div>

  <h2>Best Of Both Worlds</h2>
  <p>My strong visualization background helps me a lot, especially with frontend tasks. Image adjustment is an everyday thing for me.</p>
</section>

<style>
  section {
    box-sizing: border-box;
    padding-left: var(--global-side-padding);
    padding-right: var(--global-side-padding);
  }
</style>
