<section>
  <!-- <div class="about-title">
    <div class="divider"></div>
    <div class="title">
      <h1>Artist <br />&<br /> Developer</h1>
    </div>
  </div> -->

  <div class="right-col">
    <p>I started my career as a 3D Artist: creating cool visualizations of aircraft and trains. As I was working on web configurators, I quickly realized the importance of programming.</p>
    <div class="divider"></div>
    <p>
      Currently I'm focusing on full stack development using React and NodeJS.
      <br />Sounds a bit too much, right? Sometimes I feel the same. Learning new technologies is my passion, regardless of it is programming or 3D related.
    </p>
  </div>

  <!-- <h2>Best Of Both Worlds</h2> -->
</section>

<style>
  section {
    padding-top: var(--global-side-padding);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    box-sizing: border-box;
  }
  .about-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .divider {
    width: 80px;
    background-color: var(--global-primary-content);
    margin-top: var(--global-side-padding);
    margin-bottom: var(--global-side-padding);
  }
  .left-col,
  .right-col,
  .title {
    max-width: 1100px;
    width: 100%;
    box-sizing: border-box;
    padding-left: var(--global-side-padding);
    padding-right: var(--global-side-padding);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  h1 {
    text-align: left;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 4rem;
    margin: 0;
  }
  .right-col > p {
    text-align: center;
    line-height: 3rem;
  }
  .right @media only screen and (max-width: 768px) {
    section {
      padding-top: 0;
    }
    .about-title {
      flex-direction: column-reverse;
      box-sizing: border-box;
      padding-left: var(--global-side-padding);
      padding-right: var(--global-side-padding);
    }
    .title,
    .right-col {
      width: 100%;
    }
    .divider {
      width: 30%;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
    .title {
      padding: 0;
    }
    h1 {
      text-align: center;
      font-size: 1.8rem;
    }
  }
</style>
