<section class="section-contact" id="section-contact">
  <h1>CONTACT</h1>
  <form action="" id="form">
    <input class="textinput" type="text" placeholder="Email" id="reply_to" name="reply_to" />
    <input class="textinput" type="text" placeholder="Name" id="from_name" name="from_name" />
    <textarea class="textinput" name="message" id="" cols="30" rows="10" placeholder="Message" id="message"></textarea>
    <input type="submit" value="Submit" id="button" />
  </form>
</section>

<style>
  section {
    height: 100vh;
    background-color: var(--global-secondary-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    margin-bottom: 100px;
    margin-left: 2rem;
  }
  form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textinput {
    font-size: 20px;
    border: 1px solid #575757;
    box-shadow: 0px 2px 4px #575757;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Raleway';
    font-weight: 400;
  }
  .textinput:focus {
    border: 2px solid var(--global-primary-content);
    outline: none;
  }
  input[type='text'] {
    height: 60px;
    margin-bottom: 40px;
  }
  textarea {
    height: 150px;
    margin-bottom: 50px;
    resize: none;
    padding-top: 10px;
  }
  input[type='submit'] {
    height: 60px;
    width: 200px;
    margin-bottom: 50px;
    background-color: var(--global-primary-content);
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 20px;
    letter-spacing: 0.2rem;
    font-weight: 400;
  }

  @media only screen and (max-width: 768px) {
    .textinput {
      width: 80%;
    }

    h1 {
      margin-left: 1rem;
    }
  }
</style>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js" is:inline></script>

<script type="text/javascript" is:inline>
  emailjs.init('sJIR2-ni15ODQ-TUd');
</script>

<script is:inline>
  const btn = document.getElementById('button');
  document.getElementById('form').addEventListener('submit', function (event) {
    event.preventDefault();

    btn.value = 'Sending...';

    const serviceID = 'default_service';
    const templateID = 'template_27sn22g';

    emailjs.sendForm(serviceID, templateID, this).then(
      () => {
        console.log(this);
        btn.value = 'Send Email';
        alert('Sent!');
      },
      (err) => {
        btn.value = 'Send Email';
        alert(JSON.stringify(err));
      }
    );
  });
</script>
