<section>
  <p>Created by Bence Bakos</p>
  <div class="right-col">
    <p>Astro</p>
    <p>Hosted on Vercel</p>
  </div>
</section>

<style>
  section {
    width: 100vw;
    padding: var(--global-side-padding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .right-col {
    display: flex;
    flex-direction: column;
  }
</style>
