<section>
  <div class="footer-top-wrapper">
    <div class="title">Design and coding by Bence Bakos</div>
    <div class="right-col">
      <p class="contact-detail" onclick="window.open('mailto:bencemail1@gmail.com')">EMAIL</p>
      <p class="contact-detail" onclick="window.open('https://github.com/bencebakos3d')">GITHUB</p>
      <p class="contact-detail" onclick="window.open('https://www.linkedin.com/in/bence-bakos-63a1a2190/')">LINKEDIN</p>
      <p class="contact-detail" onclick="window.open('https://www.artstation.com/bencebakos')">ARTSTATION</p>
    </div>
  </div>
</section>

<style>
  section {
    width: 100vw;
    padding: 2.5rem var(--global-side-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
  }
  .footer-top-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .right-col {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .title,
  .contact-detail {
    font-family: 'Open Sans';
    font-size: 0.9rem;
    font-weight: 400;
    color: black;
    letter-spacing: 0.2em;
  }
  .contact-detail {
    cursor: pointer;
  }
  .title {
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width: 768px) {
    .footer-top-wrapper {
      flex-direction: column;
      gap: 30px;
      align-items: center;
    }
  }
</style>
