<section class="section-header" id="header">
  <a href="#section-about" class="header-link">ABOUT</a>
  <div class="vertical-divider"></div>
  <a href="#section-works" class="header-link">WORKS</a>
  <div class="vertical-divider"></div>
  <a href="" class="header-link">CONTACT</a>
</section>

<style>
  .section-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #efefefe5;
  }
  .header-link {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
  }
  .vertical-divider {
    width: 2px;
    height: 30px;
    background-color: black;
  }
</style>
