<section class="section-landing">
  <div class="landing-video-wrapper">
    <p class="engine-details">Rolls Royce Trent XWB <br /> Airbus A350</p>
    <img src="./engine_video/engine_1.png" id="landing-video" alt="" />
  </div>
  <div class="landing-text">
    <div class="landing-text-name">BENCE BAKOS</div>
    <div class="landing-text-title">Full Stack Developer & 3D Artist</div>
  </div>
</section>

<style>
  .section-landing {
    width: 100vw;
    height: 1450px;
    position: relative;
    background-color: var(--global-primary-background);
  }
  .landing-video-wrapper {
    position: sticky;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .engine-details {
    position: absolute;
    top: 15px;
    right: 15px;
    color: black;
    z-index: 3;
    text-align: right;
    font-size: 12px;
  }
  /* .scroll-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    width: 50px;
    height: 50px;
    background-image: url('./icons/scrolldown.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 2;
  } */
  .landing-text {
    width: 100%;
    height: 100vh;
    background: transparent;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .landing-text-name {
    color: #575757;
    font-size: 2.2rem;
    margin-top: 500px;
    margin-bottom: 10px;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.4em;
  }
  .landing-text-title {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #575757;
  }
  #landing-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--global-primary-background);
  }
  @media only screen and (max-width: 768px) {
    #landing-video {
      object-fit: contain;
      transform: scale(2.3);
    }
    .landing-text-name {
      font-size: 28px;
    }
    .landing-text-title {
      font-size: 16px;
    }
  }
</style>

<script is:inline>
  const landingVideo = document.getElementById('landing-video');
  const step = 10;

  function trackScrollPosition() {
    const y = window.scrollY;
    const label = Math.min(Math.floor(y / step) + 1, 60);
    const currentImage = `./engine_video/engine_${label}.png`;
    // Change the background image
    landingVideo.setAttribute('src', currentImage);
    console.log(currentImage);
  }

  document.addEventListener('scroll', () => {
    trackScrollPosition();
  });
</script>
