<div class="tech-wrapper">
  <h1>PROGRAMMING</h1>
  <div class="works-wrapper">
    <div class="col">
      <img class="img-100" src="./images/tech_03.png" alt="The Crystal Online Casino Experience" onclick="window.open('https://casino-s2oy.onrender.com/')" />
      <h1 class="crystal-title">The Crystal</h1>
      <p class="crystal-description">Online casino experience.<br />A full stack application made with React, Express and MySQL.</p>
      <div class="read-more-wrapper" onclick="window.open('/casino', '_self')">
        <p>Read More</p>
        <div class="moving-arrow-wrapper">
          <div class="moving-arrow"></div>
          <div class="moving-arrow"></div>
          <div class="moving-arrow"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <img class="img-50" src="./images/tech_01.jpg" alt="3DigitStudio website" onclick="window.open('https://3digitstudio.com/index.php')" />
      <div class="row-text">
        <h2 onclick="window.open('https://3digitstudio.com/index.php')">3DigitStudio</h2>
        <p>Frontend of the aviation and railway visualzation studio where I have been working for the past few years. Used HTML, CSS and vanilla JavaScript.</p>
      </div>
    </div>
    <div class="row row-reverse">
      <div class="row-text">
        <h2 style="cursor:pointer" onclick="window.open('https://bbtl-wedding.com/')">BB x TL Wedding</h2>
        <p>
          A small static website created for our wedding using Astro framework.
          <br />Hobby project.
        </p>
      </div>
      <img class="img-50" src="./images/tech_02.jpg" alt="BB x TL Website" onclick="window.open('https://bbtl-wedding.com/')" />
    </div>
  </div>
</div>
<div>
  <h1>ARTS</h1>
  <div class="works-wrapper">
    <div class="row">
      <img class="img-50" src="./images/arts_05.jpeg" alt="Boeing 787 Private Jet" onclick="window.open('https://3digitstudio.com/project.php?project=freestream')" />
      <div class="row-text">
        <h2 onclick="window.open('https://3digitstudio.com/project.php?project=freestream')">Boeing 787 Private Jet</h2>
        <p>
          This work is a concept design by Christopher Nobles and Sarah Mespelt Larranaga from Freestream. The project features a new BBJ 787 Jet.
          <br />Teamwork of <span class="digit" onclick="window.open('https://3digitstudio.com/index.php')">3DigitStudio</span>.
        </p>
      </div>
    </div>
    <div class="row row-reverse">
      <div class="row-text">
        <h2 onclick="window.open('https://3digitstudio.com/project.php?project=panasonic')">Panasonic Kitchen Appliances</h2>
        <p>
          For Panasonic Home Appliances we have created 3D renders and short animations for four of their new devices.
          <br />Teamwork of <span class="digit" onclick="window.open('https://3digitstudio.com/index.php')">3DigitStudio</span>.
        </p>
      </div>
      <img class="img-25" src="./images/arts_06.jpeg" alt="Panasonic Kitchen Appliances" onclick="window.open('https://3digitstudio.com/project.php?project=panasonic')" />
    </div>
    <div class="row">
      <img class="img-50" src="./images/arts_07.jpeg" alt="Williams Airtek Seat" onclick="window.open('https://3digitstudio.com/project.php?project=airtek')" />
      <div class="row-text">
        <h2 onclick="window.open('https://3digitstudio.com/project.php?project=airtek')">Williams Airtek Seat</h2>
        <p>
          3D web-application to showcase the features of the project, as well as a PC-based cabin interior with the new seats, featuring VR mode and interactivity.
          <br /> Teamwork of <span class="digit" onclick="window.open('https://3digitstudio.com/project.php?project=airtek')">3DigitStudio</span>.
        </p>
      </div>
    </div>
    <div class="row row-reverse">
      <div class="row-text">
        <h2 onclick="window.open('https://3digitstudio.com/works.php')">Vodafone Ireland Gigabit Broadband</h2>
        <p>Animation created for Vodafone Ireland with Irish architect Dermot Bannon. <br /> Teamwork of <span class="digit" onclick="window.open('https://3digitstudio.com/index.php')">3DigitStudio</span>.</p>
      </div>
      <img class="img-50" src="./images/arts_08.jpg" alt="Vodafone Ireland Gigabit Broadband" onclick="window.open('https://3digitstudio.com/works.php')" />
    </div>

    <div class="row">
      <img class="img-50" src="./images/arts_01.jpg" alt="Five House" onclick="window.open('https://www.artstation.com/artwork/Po0D53')" />
      <div class="row-text">
        <h2 onclick="window.open('https://www.artstation.com/artwork/Po0D53')">Five House</h2>
        <p>A little mediterranean home located in Texas, USA. Part of the furniture is custom-made. Based on the plans of M Gooden Design.</p>
      </div>
    </div>
    <div class="row row-reverse">
      <div class="row-text">
        <h2 onclick="window.open('https://www.artstation.com/artwork/68OYLn')">e.BALIN</h2>
        <p>Concept for a sporting boat advertisment with liquid simulation.</p>
      </div>
      <img class="img-25" src="./images/arts_02.jpg" alt="e.BALIN sporting boat ad" onclick="window.open('https://www.artstation.com/artwork/68OYLn')" />
    </div>
    <div class="row">
      <img class="img-50" src="./images/arts_03.jpg" alt="Indian Point house" onclick="window.open('https://www.artstation.com/artwork/Xn42RY')" />
      <div class="row-text">
        <h2 onclick="window.open('https://www.artstation.com/artwork/Xn42RY')">Indian Point</h2>
        <p>Located in Mahone Bay, Canada. Based on the plans of FBM Architecture. <br />Hobby project.</p>
      </div>
    </div>
    <div class="row row-reverse">
      <div class="row-text">
        <h2 onclick="window.open('https://www.artstation.com/artwork/Rn0Ner')">Global 7500</h2>
        <p>Bombardier Nuage seat custom modeled for a Global 7500 private jet interior visualization.<br />Hobby project.</p>
      </div>
      <img class="img-50" src="./images/arts_04.jpg" alt="Bombardier Global 7500 seat" onclick="window.open('https://www.artstation.com/artwork/Rn0Ner')" />
    </div>
  </div>
</div>

<style>
  h1 {
    padding-top: 10rem;
    margin: 10rem 0;
    margin-top: 0;
  }
  .tech-wrapper {
    background-color: var(--global-secondary-background);
  }
  .works-wrapper {
    width: 100%;
  }
  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  .crystal-title {
    margin-top: var(--global-side-padding);
    margin-bottom: 25px;
    padding: 0;
  }
  .crystal-description {
    text-align: center;
  }
  .img-100 {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
  }
  .img-50 {
    width: 50%;
    aspect-ratio: 2;
    object-fit: cover;
  }
  .img-25 {
    width: 25%;
    aspect-ratio: 1;
    object-fit: cover;
  }
  .row-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    padding-left: var(--global-side-padding);
    padding-right: var(--global-side-padding);
  }
  .read-more-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: var(--global-side-padding);
    cursor: pointer;
  }
  .read-more-wrapper > p {
    margin: 0;
    margin-right: 10px;
    margin-left: 55px;
  }
  .moving-arrow-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .moving-arrow {
    background-image: url('./icons/scrolldown.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    transform: rotate(-90deg);
    position: relative;
    transition: all ease-in-out 0.3s;
  }
  /* .read-more-wrapper:hover > .moving-arrow-wrapper > div:nth-child(2) {
    transform: rotate(-90deg) translateY(-15px);
  }
  .read-more-wrapper:hover > .moving-arrow-wrapper > div:nth-child(3) {
    transform: rotate(-90deg) translateY(-30px);
  } */
  .moving-arrow-wrapper > div:nth-child(2) {
    transform: rotate(-90deg) translateY(-15px);
  }
  .moving-arrow-wrapper > div:nth-child(3) {
    transform: rotate(-90deg) translateY(-30px);
  }
  .read-more-wrapper:hover > .moving-arrow-wrapper > div {
    transform: rotate(-90deg);
  }

  .row-text > h2 {
    cursor: pointer;
  }
  .row > img {
    cursor: pointer;
  }
  p {
    margin-top: 1rem;
  }
  .digit {
    font-weight: 600;
    color: red;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    h1 {
      padding-top: 5rem;
      margin-bottom: 2.5rem;
    }
    .img-50 {
      width: 100%;
      margin-bottom: 30px;
    }
    .img-25 {
      width: 100%;
      margin-bottom: 30px;
    }
    .row {
      flex-direction: column;
    }
    .row-reverse {
      flex-direction: column-reverse;
    }
    .row-text {
      width: 100%;
      padding-bottom: 50px;
    }
    p {
      width: 100%;
    }
  }
</style>
