<div>
  <h1>ARTS</h1>
  <div class="works-wrapper">
    <div class="row">
      <img class="img-50" src="./images/arts_01.jpg" alt="Indian Point house" />
      <div class="row-text">
        <h2>Five House</h2>
        <p>A little mediterranean home located in Texas, USA. Part of the furniture is custom-made. Based on the plans of M Gooden Design.</p>
      </div>
    </div>
    <div class="row row-reverse">
      <div class="row-text">
        <h2>e.BALIN</h2>
        <p>Concept for a sporting boat advertisment with liquid simulation.</p>
      </div>
      <img class="img-25" src="./images/arts_02.jpg" alt="Indian Point house" />
    </div>
    <div class="row">
      <img class="img-50" src="./images/arts_03.jpg" alt="Indian Point house" />
      <div class="row-text">
        <h2>Indian Point</h2>
        <p>Located in Mahone Bay, Canada. Based on the plans of FBM Architecture.</p>
      </div>
    </div>
    <div class="row row-reverse">
      <div class="row-text">
        <h2>Global 7500</h2>
        <p>Bombardier Nuage seat custom modeled for a Global 7500 private jet interior visualization project.</p>
      </div>
      <img class="img-50" src="./images/arts_04.jpg" alt="Indian Point house" />
    </div>
  </div>
</div>

<style>
  .works-wrapper {
    width: 100%;
  }
  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .img-50 {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  .img-25 {
    width: 25%;
    height: 100%;
    object-fit: cover;
  }
  .row-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    padding-left: 80px;
    padding-right: 80px;
  }

  @media only screen and (max-width: 768px) {
    .img-50 {
      width: 100%;
      margin-bottom: 30px;
    }
    .img-25 {
      width: 100%;
      margin-bottom: 30px;
    }
    .row {
      flex-direction: column;
    }
    .row-reverse {
      flex-direction: column-reverse;
    }
    .row-text {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }
    p {
      width: 100%;
    }
  }
</style>
